<html>
{% include "header.njk" %}

{% block navbar %}
{% include "navbar.njk" %}
{% endblock %}
<body>
<div class="container-fluid">
    {% block main %}
    <h1>This is our homepage?</h1>
    {% endblock %}
</div>
</body>

{% include "footer.njk" %}
</html>