{% extends "_layout.njk" %}
{% block main %}
    {% include "graphViews/statsLayout.njk" %}
    <script src="js/data/barChart.js"></script>
    <script src="js/data/lineGraph.js"></script>
    <script src="js/data/usoLocalesPie.js"></script>
    <script src="js/data/localContentPie.js"></script>
{% endblock %}