{% extends "_layout.njk" %}
{% block main %} 
{% include "graphViews/usuarioLayout.njk" %}
<script src="js/data/usuarioPie.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://unpkg.com/lightpick@latest/lightpick.js"></script>

<input type="text" id="datepicker"/>
<script>
var picker = new Lightpick({
    field: document.getElementById("datepicker"),
    onSelect: function(date){
        document.getElementById("datepicker").innerHTML = date.format('Do MMMM YYYY');
    }
});
</script>


{% endblock %}