<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id={{rows.top[0]}}> </div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id={{rows.top[1]}}> </div>
</div>

<div class="row">
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id={{rows.bottom[0]}}> </div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" id={{rows.bottom[1]}}> </div>
</div>