{% load i18n %}



<div class="container-fluid align-items-center justify-content-center">
    <div id="warning-container" style="display: none;">
        <div class="row">
            <div class="alert alert-danger align-content-center text-center">
                {% trans "No Subscriber / Usage Data available." %}
                {% trans "Please add network data feed into the database." %}
            </div>

        </div>
    </div>
    <div id="gauge-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-content-center">
                <div id="hc-gauge"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 col-sm-12 col-md-3 col-lg-3 col-xl-3 align-content-center">
                <div class="form-group col-auto align-content-center" >
                    <label for="guageDataType">View Network Throughput as</label>
                    <select class="form-control" id="guageDataType">
                        <option value="Kbps">Kilobits per seconds (Kbps)</option>
                        <option value="Mbps">Megabits per second (Mbps)</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
 </div>
