{% load i18n %}



<div class="container-fluid">
    <div id="warning-container" style="display: none;">
        <div class="row justify-content-center">
            <div class="col-6 alert alert-danger align-content-center text-center">
                {% trans "No Subscriber / Usage Data available." %}
                {% trans "Please add network data feed into the database." %}
            </div>

        </div>
    </div>
    <div id="gauge-container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 align-content-center">
                <div id="hc-gauge"></div>
            </div>
        </div>
    </div>
 </div>
