{% block header %}
This is the default content
{% endblock %}

<nav class>
    {%block navBar%}
</nav>

<main> 
    {%block content%}
    {% endblock %}
</main>

<footer> 
    {%block content%}
    {% endblock %}
</footer> 