{% block header %}
This is the default content
{% endblock %}

<nav class>
    {%block navBar%}
</nav>

<section class="graphs">
    {% block graph1 %}
    This is more content
    {% endblock %}

    {% block graph2 %}
    This is more content
    {% endblock %}

    {% block graph3 %}
    This is more content
    {% endblock %}
</section>

<main> 
    {%block content%}
    {% endblock %}
</main>

<footer> 
    {%block content%}
    {% endblock %}
</footer> 