{% extends "_layout.html" %}
{% load static %}

{% block main %}
    {% include "graphViews/profileLayout.html" %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/datatables.min.css" %}">
<script>
    
        $(document).ready(function(){
            console.log("ready!");
            $("#table_id").DataTable();
        });
    </script>
<div style="width:90%; margin:0 auto;">
    <table id="table_id" class="table table-striped table-bordered" cellspacing="1" width="100%">

        <thead>
                <th>attr1</th>
                <th>attr2</th>
                <th>attr3</th>
                <th>attr4</th>
                <th>attr5</th>
        </thead>
        <script>
            var dataFromServer = {{data | safe}};
            console.log(dataFromServer);
        </script>
        {% for d in dataFromServer %}
        <tr>
            {% for x in d %} 
                <td>{{ x.user }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>


{% for d in dataFromServer %}
<tr>
    {% for x in d %} <td>{{ x }}</td>
    {% endfor %}
</tr>
{% endfor %}
<!--
    <script>
        var dataFromServer = {{data | safe}};
        $(document).ready( function(){
            $('#my-table').DataTable({
                order: [[0, "asc"]],
                pageLength: 25,
                responsive: true,
                data: dataFromServerata
            });
        }
    </script>


&lt;!&ndash;    <script src="{% static "js/data/userConsumption.js" %}"></script>&ndash;&gt;
    <script>
        // var dataFromServer = {{data | safe}};
        // console.log(dataFromServer);
        // $(document).ready(function() {
        //
        //     var json=JSON.parse('{{ json_data | safe }}');
        //     $('#body').DataTable({
        //         data: json,
        //         columns:[
        //             { title: "user" },
        //             { title: "phonenumber" },
        //             { title: "display_name" }]
        //     } );
        // };-->
    </script>

    
{% endblock %}
