{% extends "_layout.html" %}

{% load static %}
{% load i18n %}

{% block header_extra %}
    <script type="text/javascript" src="{% static 'js/parsley2.9.2.min.js' %}"></script>

    <script src="{% static 'js/jquery.dataTables.min.js' %}" async></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">
{% endblock %}

{% block main %}
    {% include "graphViews/profileLayout.html" %}

    <script>
        $(document).ready(function(){
            $("#table_id").DataTable({
                "language": {
                    "url": "/static/i18n/Spanish.json"
                }
            });
        });
        $(document).on('click', 'tr', function(e) {
            $('tr.selected').removeClass('selected'); //clear other selections
            $(this).addClass('selected'); //mark this row as selected
            $('#edit').attr('disabled', false);
            $('#delete').attr('disabled', false);
        });
    </script>

    <script>
    // Rewrite history to not resubmit the page after a post action
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock %}

