{% extends "_layout.html" %}
{% load static %}

{% block main %}
    {% include "graphViews/profileLayout.html" %}

    <script>
        $(document).ready(function(){
            console.log("ready!");
            $("#table_id").DataTable();
        });
    </script>
    <div style="width:90%; margin:0 auto;">
        <table id="table_id" class="table table-striped table-bordered" cellspacing="1" width="100%">
    
            <thead>
                    <th>User</th>
                    <th>Phone Number</th>
                    <th>Display Name</th>
                    <th>IMSI</th>
                    <th>GUTI</th>
                    <th>Local</th>
                    <th>Role</th>
                    <th>Connectivity Status</th>
                    <th>Last Online</th>
                    <th>Rate Limit Kpbs</th>
            </thead>
            <tbody>
            {% for d in data %}
            {%
            <tr>
                <td>{{d.user}}</td>
                <td>{{d.phonenumber}}</td>
                <td>{{d.display_name}}</td>
                <td>{{d.imsi}}</td>
                <td>{{d.guti}}</td>
                <td>{{d.is_local}}</td>
                <td>{{d.role}}</td>
                <td>{{d.connectivity_status}}</td>
                <td>{{d.last_time_online}}</td>
                <td>{{d.rate_limit_kbps}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% for d in dataFromServer %}
<tr>
    {% for x in d %} <td>{{ x }}</td>
    {% endfor %}
</tr>
{% endfor %}
<!--
    <script>
        var dataFromServer = {{data | safe}};
        $(document).ready( function(){
            $('#my-table').DataTable({
                order: [[0, "asc"]],
                pageLength: 25,
                responsive: true,
                data: dataFromServerata
            });
        }
    </script>


&lt;!&ndash;    <script src="{% static "js/data/userConsumption.js" %}"></script>&ndash;&gt;
    <script>
        // var dataFromServer = {{data | safe}};
        // console.log(dataFromServer);
        // $(document).ready(function() {
        //
        //     var json=JSON.parse('{{ json_data | safe }}');
        //     $('#body').DataTable({
        //         data: json,
        //         columns:[
        //             { title: "user" },
        //             { title: "phonenumber" },
        //             { title: "display_name" }]
        //     } );
        // };-->
    </script>

    
{% endblock %}
