{% extends "_layout.njk" %}
{% block main %}
    <p>There are {{totalUsers}} users in the database.</p>
    {% include "graphViews/statsLayout.njk" %}
    <script>
        var dataFromServer = {{dataSets | safe}};
        function lookUpData(graphid) {
            return JSON.parse(dataFromServer[graphid]);
        }
    </script>
    <script src="js/data/lineGraph.js" defer></script>
    <script src="js/data/barChart.js"></script>
    <script src="js/data/usoLocalesPie.js"></script>
    <script src="js/data/localContentPie.js"></script>
{% endblock %}