{% extends "_layout.html" %}
{% load static %}

{% block main %} 
{% include "graphViews/usuarioLayout.html" %}
    <script> 
        var dataFromServer = {{data | safe}};
        var drillDownInfo = {{ drilldown | safe }};
        var usagePieTitle = {{ title | safe }};
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "css/lightpick.css" %}">
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/lightpick.js' %}"></script>
    <script src="{% static 'js/modules/drilldown.js' %}"></script>
    <script src="{% static 'js/modules/accessibility.js' %}"></script>
    <script src="{% static 'js/data/usuarioPie.js' %}"></script>
    <div align="center">
        <input type="text" id="datepicker" placeholder="start date"/>
        <input type="text" id="datepickerEnd" placeholder="end date"/>
    </div>
    <script>
    var picker = new Lightpick({
        field: document.getElementById("datepicker"),
        secondField: document.getElementById("datepickerEnd"),
        singleDate: false,
        onSelect: function(date){
            document.getElementById("datepicker").innerHTML = date.format('Do MMMM YYYY');
        }
    });
    </script>


{% endblock %}
